## Housing price

https://storage.googleapis.com/ml_universities/california_housing_train.csv

что хочу:
    - импортировать в пандас, посмотреть что как, очистить, разбить на трейн и тест
    - построить TF датасет, поработать с фичами
    - построить и обучить денс-нн, учить с коллбеками, с сохранением слоев и с валидацией
    - на коллбеках сохраняться

In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.model_selection import train_test_split
from matplotlib import pyplot as plt

%matplotlib inline
%load_ext tensorboard

In [2]:
df = pd.read_csv("https://storage.googleapis.com/ml_universities/california_housing_train.csv", sep=",")

In [3]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [4]:
# разбиваем на трейн и валидацию
df_train, df_test = train_test_split(df, train_size=0.8)

In [5]:
df_train.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,13600.000000,13600.000000,13600.000000,13600.000000,13600.000000,13600.000000,13600.000000,13600.000000,13600.000000
mean,-119.543408,35.607161,28.619779,2649.010221,540.041544,1434.929706,502.303456,3.882884,206927.849118
std,2.004621,2.137043,12.510682,2198.643630,422.191707,1165.237131,385.903800,1.914842,115690.911833
min,-124.350000,32.550000,1.000000,2.000000,1.000000,6.000000,1.000000,0.499900,14999.000000
25%,-121.750000,33.930000,18.000000,1463.000000,299.000000,793.000000,283.000000,2.564225,119200.000000
50%,-118.480000,34.240000,29.000000,2134.000000,435.000000,1171.000000,410.000000,3.542750,180450.000000
75%,-117.990000,37.710000,37.000000,3149.000000,651.000000,1720.000000,606.000000,4.761525,264100.000000
max,-114.310000,41.950000,52.000000,37937.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [6]:
housing_median_age_mean = df_train['housing_median_age'].mean()
housing_median_age_std =  df_train['housing_median_age'].std()

median_income_mean = df_train['median_income'].mean()
median_income_std = df_train['median_income'].std()

# эти данные буду использовать для нормализации
housing_median_age_mean, housing_median_age_std, median_income_mean, median_income_std

(28.619779411764707, 12.510681896177, 3.8828840735294334, 1.9148418965025296)

In [7]:
# то, что предсказываем
target_train = df_train.pop('median_house_value')
target_test = df_test.pop('median_house_value')

## Работа с фичами
    
    - хочу на лету создавать новые фичи - среднее число комнат на дом, среднее число жильцов на комнату
    - longitude и latitude сначала делаем бакетами, потом делаем из них крест. Т.к у нас признаком являются не сами числа, а принадлежность к квадратику
    - нормализовать все данными из датасета

In [8]:
features = ['longitude', 'latitude', 'housing_median_age', 'population'
            'total_rooms', 'total_bedrooms','households','median_income']

In [9]:
# прекрасно, прекрасно справляется :)
def make_new_features(x, y):
    x['family_size'] = x['population'] / x['households']
    x['pop_per_room'] = x['population'] / x['total_rooms']
    x['pop_per_bedroom'] = x['population'] / x['total_bedrooms']
    return x, y

In [10]:
# нам это нужно и для трейна и для предикта
def create_dataset(d, t):
    ds = tf.data.Dataset.from_tensor_slices((d.to_dict('list'), t.values)).batch(4)
    ds_featured = ds.map(make_new_features)
    return ds_featured
    #layer = tf.keras.layers.DenseFeatures(features_list)
    
ds = create_dataset(df_train, target_train)
ds_train = create_dataset(df_train, target_train)
ds_test = create_dataset(df_test, target_test)

In [11]:
for x, y in ds.take(1):
    print(x, y)

{'longitude': <tf.Tensor: shape=(4,), dtype=float32, numpy=array([-119.79, -124.  , -118.27, -118.58], dtype=float32)>, 'latitude': <tf.Tensor: shape=(4,), dtype=float32, numpy=array([34.43, 40.22, 33.82, 34.17], dtype=float32)>, 'housing_median_age': <tf.Tensor: shape=(4,), dtype=float32, numpy=array([26., 16., 28., 29.], dtype=float32)>, 'total_rooms': <tf.Tensor: shape=(4,), dtype=float32, numpy=array([3611., 2088., 1642., 3393.], dtype=float32)>, 'total_bedrooms': <tf.Tensor: shape=(4,), dtype=float32, numpy=array([563., 535., 434., 574.], dtype=float32)>, 'population': <tf.Tensor: shape=(4,), dtype=float32, numpy=array([2089.,  816., 1575., 1471.], dtype=float32)>, 'households': <tf.Tensor: shape=(4,), dtype=float32, numpy=array([540., 326., 420., 587.], dtype=float32)>, 'median_income': <tf.Tensor: shape=(4,), dtype=float32, numpy=array([5.1615, 1.319 , 4.1292, 6.2064], dtype=float32)>, 'family_size': <tf.Tensor: shape=(4,), dtype=float32, numpy=array([3.8685186, 2.5030675, 3.75     , 2.5059626], dtype=float32)>, 'pop_per_room': <tf.Tensor: shape=(4,), dtype=float32, numpy=array([0.5785101 , 0.3908046 , 0.9591961 , 0.43353963], dtype=float32)>, 'pop_per_bedroom': <tf.Tensor: shape=(4,), dtype=float32, numpy=array([3.7104795, 1.5252336, 3.6290324, 2.5627177], dtype=float32)>} tf.Tensor([276200.  70700. 201900. 334900.], shape=(4,), dtype=float64)

In [12]:
# feature_column имеют немного другую роль. Они потом превращаются в слой модели,
# т.е по сути на старте они ничего и не знают про датасет, модель будет пихать в них
# данные как в мясорубку

num_features_unnorm = ['family_size', 'pop_per_room', 'pop_per_bedroom',
                       'total_rooms', 'total_bedrooms', 'households']

def create_features():
    # не важно что мы тут делаем, важно что выводим в виде итогового массива
    latitude = tf.feature_column.bucketized_column(
            tf.feature_column.numeric_column('latitude'), boundaries = np.arange(32.0, 42, 1).tolist())    
    
    longitude = tf.feature_column.bucketized_column(
            tf.feature_column.numeric_column('longitude'), boundaries = np.arange(-122, -114, 1).tolist())  
    
    squares = tf.feature_column.indicator_column(
        tf.feature_column.crossed_column([latitude, longitude], hash_bucket_size=1000))

    # нормализатор там встроен, пробую
    def norm_housing_median_age(x):
        return (x - housing_median_age_mean)/ housing_median_age_std
    housing_median_age = tf.feature_column.numeric_column('housing_median_age', 
                                                          normalizer_fn = norm_housing_median_age)

    def norm_median_income(x):
        return (x - median_income_mean)/ median_income_std
    median_income = tf.feature_column.numeric_column('median_income', 
                                                          normalizer_fn = norm_median_income)

    num_features = [tf.feature_column.numeric_column(name) for name in num_features_unnorm]
    
    return [housing_median_age, median_income, latitude] + num_features

In [13]:
# DenseFeatures по сути просто делает тензор, на входе ему нужно подать массив "ленточек" из которых делать
# а ленточки определяются через feature_columns

layer = tf.keras.layers.DenseFeatures(create_features())

In [14]:
for x, y in ds.take(1):
    print(layer(x).numpy())

[[ 3.8685186e+00  5.4000000e+02 -2.0940341e-01  0.0000000e+00
   0.0000000e+00  0.0000000e+00  1.0000000e+00  0.0000000e+00
   0.0000000e+00  0.0000000e+00  0.0000000e+00  0.0000000e+00
   0.0000000e+00  0.0000000e+00  6.6773969e-01  3.7104795e+00
   5.7851011e-01  5.6300000e+02  3.6110000e+03]
 [ 2.5030675e+00  3.2600000e+02 -1.0087204e+00  0.0000000e+00
   0.0000000e+00  0.0000000e+00  0.0000000e+00  0.0000000e+00
   0.0000000e+00  0.0000000e+00  0.0000000e+00  0.0000000e+00
   1.0000000e+00  0.0000000e+00 -1.3389534e+00  1.5252336e+00
   3.9080459e-01  5.3500000e+02  2.0880000e+03]
 [ 3.7500000e+00  4.2000000e+02 -4.9540032e-02  0.0000000e+00
   0.0000000e+00  1.0000000e+00  0.0000000e+00  0.0000000e+00
   0.0000000e+00  0.0000000e+00  0.0000000e+00  0.0000000e+00
   0.0000000e+00  0.0000000e+00  1.2863514e-01  3.6290324e+00
   9.5919609e-01  4.3400000e+02  1.6420000e+03]
 [ 2.5059626e+00  5.8700000e+02  3.0391661e-02  0.0000000e+00
   0.0000000e+00  0.0000000e+00  1.0000000e+00  0.0000000e+00
   0.0000000e+00  0.0000000e+00  0.0000000e+00  0.0000000e+00
   0.0000000e+00  0.0000000e+00  1.2134244e+00  2.5627177e+00
   4.3353963e-01  5.7400000e+02  3.3930000e+03]]

## модель, обучение, коллбеки и вот это вот все

In [16]:
model = tf.keras.Sequential([
    layer,
    tf.keras.layers.Dense(512, activation='relu'), 
    tf.keras.layers.Dense(512, activation='relu'), 
    tf.keras.layers.Dense(1)
])

model.compile(loss='mean_squared_error', optimizer='adam', metrics=['mse', 'mae'])

In [17]:
# сохранение
save_callback = tf.keras.callbacks.ModelCheckpoint('./save/model.ckpt', save_weights_only=True, verbose=1)

# тензорбоард
tensorboard = tf.keras.callbacks.TensorBoard(
    log_dir='./save/', histogram_freq=0, write_graph=True, write_images=True)

In [18]:
history = model.fit(ds_train, epochs=10, validation_data=ds_test, callbacks=[save_callback, tensorboard])

Epoch 1/10
3400/3400 [==============================] - ETA: 0s - loss: 27652139008.0000 - mse: 27652139008.0000 - mae: 120797.6016
Epoch 00001: saving model to ./save/model.ckpt
3400/3400 [==============================] - 91s 27ms/step - loss: 27652139008.0000 - mse: 27652139008.0000 - mae: 120797.6016 - val_loss: 30031022080.0000 - val_mse: 30031022080.0000 - val_mae: 132626.6250
Epoch 2/10
3400/3400 [==============================] - ETA: 0s - loss: 25714413568.0000 - mse: 25714413568.0000 - mae: 113753.8047
Epoch 00002: saving model to ./save/model.ckpt
3400/3400 [==============================] - 68s 20ms/step - loss: 25714413568.0000 - mse: 25714413568.0000 - mae: 113753.8047 - val_loss: 27265505280.0000 - val_mse: 27265505280.0000 - val_mae: 124275.5312
Epoch 3/10
3400/3400 [==============================] - ETA: 0s - loss: 26157127680.0000 - mse: 26157127680.0000 - mae: 100212.6875
Epoch 00003: saving model to ./save/model.ckpt
3400/3400 [==============================] - 78s 23ms/step - loss: 26157127680.0000 - mse: 26157127680.0000 - mae: 100212.6875 - val_loss: 25304598528.0000 - val_mse: 25304598528.0000 - val_mae: 119557.0156
Epoch 4/10
3397/3400 [============================>.] - ETA: 0s - loss: 26928369664.0000 - mse: 26928369664.0000 - mae: 85004.8359
Epoch 00004: saving model to ./save/model.ckpt
3400/3400 [==============================] - 87s 26ms/step - loss: 26917826560.0000 - mse: 26917826560.0000 - mae: 85012.9609 - val_loss: 19210936320.0000 - val_mse: 19210936320.0000 - val_mae: 100770.4844
Epoch 5/10
3400/3400 [==============================] - ETA: 0s - loss: 25473513472.0000 - mse: 25473513472.0000 - mae: 78978.2578
Epoch 00005: saving model to ./save/model.ckpt
3400/3400 [==============================] - 61s 18ms/step - loss: 25473513472.0000 - mse: 25473513472.0000 - mae: 78978.2578 - val_loss: 15853593600.0000 - val_mse: 15853593600.0000 - val_mae: 90175.9844
Epoch 6/10
3400/3400 [==============================] - ETA: 0s - loss: 24490039296.0000 - mse: 24490039296.0000 - mae: 75950.6250
Epoch 00006: saving model to ./save/model.ckpt
3400/3400 [==============================] - 77s 23ms/step - loss: 24490039296.0000 - mse: 24490039296.0000 - mae: 75950.6250 - val_loss: 14022063104.0000 - val_mse: 14022063104.0000 - val_mae: 84194.2812
Epoch 7/10
3400/3400 [==============================] - ETA: 0s - loss: 22012223488.0000 - mse: 22012223488.0000 - mae: 74494.5859
Epoch 00007: saving model to ./save/model.ckpt
3400/3400 [==============================] - 87s 25ms/step - loss: 22012223488.0000 - mse: 22012223488.0000 - mae: 74494.5859 - val_loss: 16454206464.0000 - val_mse: 16454206464.0000 - val_mae: 93425.6641
Epoch 8/10
3398/3400 [============================>.] - ETA: 0s - loss: 20313686016.0000 - mse: 20313686016.0000 - mae: 72980.2969
Epoch 00008: saving model to ./save/model.ckpt
3400/3400 [==============================] - 97s 28ms/step - loss: 20309854208.0000 - mse: 20309854208.0000 - mae: 72991.7500 - val_loss: 15814742016.0000 - val_mse: 15814742016.0000 - val_mae: 91274.2188
Epoch 9/10
3399/3400 [============================>.] - ETA: 0s - loss: 18419019776.0000 - mse: 18419019776.0000 - mae: 71618.3906
Epoch 00009: saving model to ./save/model.ckpt
3400/3400 [==============================] - 94s 28ms/step - loss: 18417496064.0000 - mse: 18417496064.0000 - mae: 71625.0625 - val_loss: 13443216384.0000 - val_mse: 13443216384.0000 - val_mae: 82423.7109
Epoch 10/10
3399/3400 [============================>.] - ETA: 0s - loss: 16373809152.0000 - mse: 16373809152.0000 - mae: 70139.6562
Epoch 00010: saving model to ./save/model.ckpt
3400/3400 [==============================] - 67s 20ms/step - loss: 16371506176.0000 - mse: 16371506176.0000 - mae: 70140.3125 - val_loss: 11435896832.0000 - val_mse: 11435896832.0000 - val_mae: 75173.8828

In [ ]:
!tensorboard --logdir='./save'