## Housing price

https://storage.googleapis.com/ml_universities/california_housing_train.csv

что хочу:
    - импортировать в пандас, посмотреть что как, очистить, разбить на трейн и тест
    - построить TF датасет, поработать с фичами
    - построить и обучить денс-нн, учить с коллбеками, с сохранением слоев и с валидацией
    - на коллбеках сохраняться

In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.model_selection import train_test_split
from matplotlib import pyplot as plt

%matplotlib inline
%load_ext tensorboard

In [2]:
df = pd.read_csv("https://storage.googleapis.com/ml_universities/california_housing_train.csv", sep=",")

In [3]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [4]:
# разбиваем на трейн и валидацию
df_train, df_test = train_test_split(df, train_size=0.8)

In [5]:
df_train.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,13600.000000,13600.000000,13600.000000,13600.000000,13600.000000,13600.000000,13600.000000,13600.000000,13600.000000
mean,-119.569421,35.629117,28.574118,2640.470221,538.320000,1429.469044,500.272206,3.887688,207351.995882
std,2.009109,2.140706,12.556721,2179.448642,419.338846,1144.163835,382.340709,1.903478,115891.866754
min,-124.350000,32.540000,1.000000,2.000000,2.000000,3.000000,2.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1461.000000,295.000000,787.000000,281.000000,2.569300,119475.000000
50%,-118.490000,34.250000,29.000000,2127.000000,433.000000,1164.000000,408.000000,3.547100,180800.000000
75%,-118.000000,37.710000,37.000000,3153.000000,648.000000,1722.000000,606.000000,4.782350,265300.000000
max,-114.310000,41.880000,52.000000,37937.000000,5471.000000,35682.000000,5189.000000,15.000100,500001.000000

In [6]:
housing_median_age_mean = df_train['housing_median_age'].mean()
housing_median_age_std =  df_train['housing_median_age'].std()

median_income_mean = df_train['median_income'].mean()
median_income_std = df_train['median_income'].std()

# эти данные буду использовать для нормализации
housing_median_age_mean, housing_median_age_std, median_income_mean, median_income_std

(28.574117647058824,
 12.556721192543456,
 3.8876876029411735,
 1.9034783629772813)

In [7]:
# то, что предсказываем
target_train = df_train.pop('median_house_value')
target_test = df_test.pop('median_house_value')

## Работа с фичами
    
    - хочу на лету создавать новые фичи - среднее число комнат на дом, среднее число жильцов на комнату
    - longitude и latitude сначала делаем бакетами, потом делаем из них крест. Т.к у нас признаком являются не сами числа, а принадлежность к квадратику
    - нормализовать все данными из датасета

In [8]:
features = ['longitude', 'latitude', 'housing_median_age', 'population'
            'total_rooms', 'total_bedrooms','households','median_income']

In [9]:
# прекрасно, прекрасно справляется :)
def make_new_features(x, y):
    x['family_size'] = x['population'] / x['households']
    x['pop_per_room'] = x['population'] / x['total_rooms']
    x['pop_per_bedroom'] = x['population'] / x['total_bedrooms']
    return x, y

In [10]:
# нам это нужно и для трейна и для предикта
def create_dataset(d, t):
    ds = tf.data.Dataset.from_tensor_slices((d.to_dict('list'), t.values)).batch(64).shuffle(100).repeat()
    ds_featured = ds.map(make_new_features)
    return ds_featured
    #layer = tf.keras.layers.DenseFeatures(features_list)
    
ds = create_dataset(df_train, target_train)
ds_train = create_dataset(df_train, target_train)
ds_test = create_dataset(df_test, target_test)

In [11]:
for x, y in ds.take(1):
    print(x, y)

{'longitude': <tf.Tensor: shape=(64,), dtype=float32, numpy=
array([-121.89, -118.11, -118.12, -121.45, -117.04, -121.47, -124.13,
       -124.07, -118.18, -121.12, -121.84, -119.72, -118.3 , -121.3 ,
       -116.93, -122.18, -121.94, -118.29, -121.99, -117.01, -118.3 ,
       -118.43, -115.54, -117.2 , -118.13, -121.24, -122.33, -118.29,
       -122.23, -117.3 , -121.4 , -118.47, -122.46, -116.83, -118.26,
       -118.3 , -117.85, -118.97, -122.25, -117.95, -119.29, -118.13,
       -121.78, -122.18, -119.08, -118.44, -122.04, -118.34, -122.91,
       -116.9 , -121.04, -122.42, -122.09, -118.49, -116.39, -119.08,
       -120.45, -122.15, -119.03, -118.73, -117.93, -122.15, -122.26,
       -117.09], dtype=float32)>, 'latitude': <tf.Tensor: shape=(64,), dtype=float32, numpy=
array([37.36, 34.02, 34.14, 38.63, 32.54, 38.53, 40.55, 40.87, 33.78,
       38.  , 37.32, 34.42, 33.78, 38.65, 32.87, 37.72, 39.45, 34.11,
       36.96, 32.99, 33.99, 34.3 , 32.79, 34.24, 33.85, 38.01, 37.56,
       34.08, 37.46, 33.07, 38.59, 34.01, 37.66, 34.25, 34.24, 33.95,
       34.11, 35.37, 40.6 , 33.99, 34.4 , 33.78, 37.66, 37.45, 36.22,
       35.13, 37.24, 34.18, 38.43, 33.03, 39.19, 37.79, 37.41, 34.31,
       33.82, 35.34, 36.86, 37.71, 34.23, 34.29, 33.87, 37.71, 37.52,
       33.12], dtype=float32)>, 'housing_median_age': <tf.Tensor: shape=(64,), dtype=float32, numpy=
array([37., 40., 52., 28.,  7., 44., 38., 47., 17., 36., 22., 49., 35.,
       26., 17., 45., 39., 40., 42.,  8., 47., 33., 23., 22., 36., 22.,
       34., 23., 36., 14., 18., 41., 15., 15., 35., 35., 27., 34., 16.,
       15., 22., 45., 25., 43., 28., 34., 24., 45., 19., 11., 17., 48.,
        8., 25., 15., 18., 34., 18., 21.,  8., 52., 36., 34., 11.],
      dtype=float32)>, 'total_rooms': <tf.Tensor: shape=(64,), dtype=float32, numpy=
array([ 1525.,  1727.,  2337.,  1246.,   938.,   543.,   544.,  1765.,
        1419.,   683.,  3015.,  1610.,  2572.,  3192.,  3722.,  1498.,
         844.,  2681.,  1275.,  3372.,  2212.,  2443.,  1712.,  8106.,
        1885.,  1526.,  6394.,  1864.,  6090.,  2670.,  2614.,   752.,
        6082.,  8948.,  2485.,  1182.,  1748.,  1379.,  2753.,  3978.,
        3891.,  1016.,  1947.,  2061.,  1606.,  1170.,  1521.,  3566.,
        1968.,  3213.,   856.,  4506.,  1480.,  1024., 11115.,  4070.,
         673.,  5778.,  3284.,  4983.,   950.,   998.,   483.,   567.],
      dtype=float32)>, 'total_bedrooms': <tf.Tensor: shape=(64,), dtype=float32, numpy=
array([ 363.,  309.,  352.,  295.,  297.,  146.,   89.,  326.,  436.,
        159.,  581.,  370.,  504.,  447.,  670.,  313.,  161.,  737.,
        272.,  430.,  533.,  498.,  403., 1665.,  391.,  299., 1619.,
        937., 1057.,  426.,  624.,  201., 1284., 1985.,  418.,  305.,
        403.,  333.,  494.,  692.,  657.,  172.,  418.,  437.,  320.,
        290.,  209.,  701.,  350.,  634.,  167., 1342.,  414.,  145.,
       2257.,  512.,  173., 1526.,  487.,  754.,  229.,  178.,  131.,
        184.], dtype=float32)>, 'population': <tf.Tensor: shape=(64,), dtype=float32, numpy=
array([1075.,  932.,  981.,  884., 1187.,  506.,  240.,  796., 1300.,
        505., 2491.,  961., 1172., 1132., 1561., 1003.,  535., 1144.,
        451., 1536., 1903., 1601., 1370., 1062., 1049.,  790., 2400.,
       2795., 3081., 1034., 1181.,  482., 3861., 1316., 1226.,  977.,
        985., 1156., 1414., 2418., 1727.,  361.,  900.,  817., 1158.,
        602.,  539., 1601.,  852., 1975.,  518., 1980.,  856.,  357.,
       4122., 1580.,  539., 2441., 1832., 2510.,  429.,  531.,  291.,
        620.], dtype=float32)>, 'households': <tf.Tensor: shape=(64,), dtype=float32, numpy=
array([ 374.,  313.,  328.,  258.,  282.,  125.,   91.,  333.,  360.,
        141.,  530.,  351.,  519.,  418.,  604.,  305.,  165.,  669.,
        200.,  448.,  554.,  484.,  377.,  423.,  405.,  300., 1496.,
        858., 1075.,  407.,  616.,  207., 1198.,  514.,  406.,  283.,
        416.,  315.,  459.,  665.,  581.,  163.,  354.,  385.,  317.,
        266.,  192.,  653.,  308.,  579.,  170., 1239.,  445.,  147.,
       1653.,  540.,  182., 1352.,  521.,  725.,  185.,  183.,  157.,
        163.], dtype=float32)>, 'median_income': <tf.Tensor: shape=(64,), dtype=float32, numpy=
array([ 2.8971,  3.95  ,  5.8692,  1.4397,  1.2667,  1.3646,  3.25  ,
        2.2138,  2.0769,  3.4265,  4.3419,  2.6983,  4.6207,  4.5278,
        3.6027,  3.8047,  1.832 ,  3.0461,  4.7321,  8.4284,  1.9853,
        4.0223,  1.275 ,  3.0434,  3.55  ,  2.4342,  3.4902,  1.8495,
        5.6629,  6.4247,  2.0432,  2.5417,  5.4221,  2.7375,  5.7083,
        1.5898,  3.1133,  1.7197,  3.8323,  5.0142,  4.2656,  7.5   ,
        3.8523,  4.4688,  3.0324,  1.7917, 11.1557,  3.8668,  4.6705,
        3.475 ,  3.5859,  4.0156,  2.8203,  7.0598,  2.7219, 10.5941,
        2.3523,  3.1682,  5.2773,  6.9454,  2.315 ,  4.0208,  3.0833,
        2.5284], dtype=float32)>, 'family_size': <tf.Tensor: shape=(64,), dtype=float32, numpy=
array([2.8743315, 2.9776359, 2.9908535, 3.4263566, 4.20922  , 4.048    ,
       2.6373627, 2.3903904, 3.6111112, 3.5815604, 4.7      , 2.7378917,
       2.2581887, 2.708134 , 2.5844371, 3.2885246, 3.2424242, 1.7100149,
       2.255    , 3.4285715, 3.435018 , 3.3078513, 3.6339521, 2.5106382,
       2.5901234, 2.6333334, 1.6042781, 3.2575758, 2.8660464, 2.5405405,
       1.9172078, 2.3285024, 3.2228715, 2.5603113, 3.0197043, 3.4522967,
       2.3677886, 3.6698413, 3.08061  , 3.6360903, 2.9724612, 2.2147238,
       2.542373 , 2.122078 , 3.6529968, 2.2631578, 2.8072917, 2.451761 ,
       2.7662337, 3.4110537, 3.0470588, 1.598063 , 1.9235955, 2.4285715,
       2.4936478, 2.925926 , 2.9615386, 1.8054733, 3.5163147, 3.462069 ,
       2.318919 , 2.9016395, 1.8535032, 3.803681 ], dtype=float32)>, 'pop_per_room': <tf.Tensor: shape=(64,), dtype=float32, numpy=
array([0.704918  , 0.53966415, 0.41976893, 0.70947033, 1.2654585 ,
       0.93186   , 0.44117647, 0.4509915 , 0.9161381 , 0.73938507,
       0.82620233, 0.5968944 , 0.45567653, 0.35463658, 0.41939816,
       0.6695594 , 0.6338863 , 0.42670646, 0.3537255 , 0.455516  ,
       0.8603074 , 0.6553418 , 0.80023366, 0.13101406, 0.55649865,
       0.51769334, 0.3753519 , 1.4994636 , 0.50591135, 0.38726592,
       0.45179802, 0.6409575 , 0.6348241 , 0.14707197, 0.49336016,
       0.82656515, 0.5635011 , 0.8382886 , 0.5136215 , 0.60784316,
       0.44384477, 0.35531497, 0.4622496 , 0.3964095 , 0.7210461 ,
       0.51452994, 0.3543721 , 0.44896242, 0.43292683, 0.6146903 ,
       0.6051402 , 0.4394141 , 0.5783784 , 0.3486328 , 0.3708502 ,
       0.3882064 , 0.8008915 , 0.42246452, 0.55785626, 0.5037126 ,
       0.45157894, 0.53206414, 0.60248446, 1.0934744 ], dtype=float32)>, 'pop_per_bedroom': <tf.Tensor: shape=(64,), dtype=float32, numpy=
array([2.9614325, 3.0161812, 2.7869318, 2.9966102, 3.996633 , 3.4657533,
       2.6966293, 2.4417179, 2.9816513, 3.1761007, 4.2874355, 2.5972972,
       2.3253968, 2.5324385, 2.3298507, 3.2044728, 3.3229814, 1.5522388,
       1.6580882, 3.572093 , 3.5703564, 3.2148595, 3.3995037, 0.6378378,
       2.6828644, 2.6421404, 1.4823965, 2.9829242, 2.9148533, 2.4272301,
       1.8926282, 2.39801  , 3.0070093, 0.6629723, 2.9330144, 3.2032788,
       2.4441688, 3.4714715, 2.862348 , 3.4942195, 2.628615 , 2.0988371,
       2.15311  , 1.8695652, 3.61875  , 2.0758622, 2.5789473, 2.2838802,
       2.4342856, 3.1151419, 3.1017964, 1.4754099, 2.067633 , 2.462069 ,
       1.8263181, 3.0859375, 3.115607 , 1.5996069, 3.761807 , 3.3289125,
       1.8733624, 2.983146 , 2.221374 , 3.3695652], dtype=float32)>} tf.Tensor(
[186100. 210200. 490400.  51700.  67500.  65400.  94800.  99200. 100000.
 158900. 176300. 260100. 304100. 144300. 211900. 156700.  70500. 264300.
 422400. 378300. 101100. 146000.  60400. 137200. 212800. 125000. 500001.
 212500. 343600. 295100. 156800. 418200. 284700.  90800. 329500.  94000.
 180600.  48900. 128300. 269900. 241400. 434500. 193000. 460200.  55600.
  80000. 500001. 232000. 269800. 167200. 144300. 500001. 284100. 356300.
  74400. 245800.  66000. 202700. 250800. 276500. 182100. 191500. 256300.
 122500.], shape=(64,), dtype=float64)

In [12]:
# feature_column имеют немного другую роль. Они потом превращаются в слой модели,
# т.е по сути на старте они ничего и не знают про датасет, модель будет пихать в них
# данные как в мясорубку

num_features_unnorm = ['family_size', 'pop_per_room', 'pop_per_bedroom',
                       'total_rooms', 'total_bedrooms', 'households']

def create_features():
    # не важно что мы тут делаем, важно что выводим в виде итогового массива
    latitude = tf.feature_column.bucketized_column(
            tf.feature_column.numeric_column('latitude'), boundaries = np.arange(32.0, 42, 1).tolist())    
    
    longitude = tf.feature_column.bucketized_column(
            tf.feature_column.numeric_column('longitude'), boundaries = np.arange(-122, -114, 1).tolist())  
    
    squares = tf.feature_column.indicator_column(
        tf.feature_column.crossed_column([latitude, longitude], hash_bucket_size=1000))

    # нормализатор там встроен, пробую
    def norm_housing_median_age(x):
        return (x - housing_median_age_mean)/ housing_median_age_std
    housing_median_age = tf.feature_column.numeric_column('housing_median_age', 
                                                          normalizer_fn = norm_housing_median_age)

    def norm_median_income(x):
        return (x - median_income_mean)/ median_income_std
    median_income = tf.feature_column.numeric_column('median_income', 
                                                          normalizer_fn = norm_median_income)

    num_features = [tf.feature_column.numeric_column(name) for name in num_features_unnorm]
    
    return [housing_median_age, median_income, squares] + num_features

In [13]:
# DenseFeatures по сути просто делает тензор, на входе ему нужно подать массив "ленточек" из которых делать
# а ленточки определяются через feature_columns

layer = tf.keras.layers.DenseFeatures(create_features())

In [14]:
for x, y in ds.take(1):
    print(layer(x).numpy())

[[ 6.3121214e+00  3.3000000e+02  4.3210983e-01 ...  1.1841955e+00
   3.5300000e+02  1.7590000e+03]
 [ 2.8150470e+00  9.5700000e+02  3.5247120e-01 ...  4.1452530e-01
   9.9800000e+02  6.4990000e+03]
 [ 3.1012270e+00  6.5200000e+02 -1.2403014e+00 ...  5.5918139e-01
   6.7200000e+02  3.6160000e+03]
 ...
 [ 1.9844790e+00  4.5100000e+02 -1.3995786e+00 ...  4.9611974e-01
   5.0600000e+02  1.8040000e+03]
 [ 2.9375000e+00  9.6000000e+01 -1.4792172e+00 ...  5.4651165e-01
   1.0700000e+02  5.1600000e+02]
 [ 2.1310241e+00  6.6400000e+02  1.8656051e+00 ...  5.7755101e-01
   7.4100000e+02  2.4500000e+03]]

## модель, обучение, коллбеки и вот это вот все

In [15]:
model = tf.keras.Sequential([
    layer,
    tf.keras.layers.Dense(512, activation='relu'), 
    tf.keras.layers.Dense(512, activation='relu'), 
    tf.keras.layers.Dense(1)
])

optimizer = tf.optimizers.Adam()

model.compile(loss='mean_squared_error', optimizer=optimizer, metrics=['mse', 'mae'])

In [16]:
# сохранение
save_callback = tf.keras.callbacks.ModelCheckpoint('./save/model.ckpt', save_weights_only=True, verbose=1)

# тензорбоард
tensorboard = tf.keras.callbacks.TensorBoard(
    log_dir='./save/', histogram_freq=0, write_graph=True, write_images=False)

In [17]:
history = model.fit(ds_train, epochs=5, steps_per_epoch=212, 
                    validation_data=ds_test, validation_steps=45, callbacks=[save_callback, tensorboard])

Epoch 1/5
212/212 [==============================] - ETA: 0s - loss: 32624465920.0000 - mse: 32624465920.0000 - mae: 136587.7031
Epoch 00001: saving model to ./save/model.ckpt
212/212 [==============================] - 22s 102ms/step - loss: 32624465920.0000 - mse: 32624465920.0000 - mae: 136587.7031 - val_loss: 28131969024.0000 - val_mse: 28131969024.0000 - val_mae: 122342.4922
Epoch 2/5
212/212 [==============================] - ETA: 0s - loss: 27353038848.0000 - mse: 27353038848.0000 - mae: 120440.7734
Epoch 00002: saving model to ./save/model.ckpt
212/212 [==============================] - 17s 78ms/step - loss: 27353038848.0000 - mse: 27353038848.0000 - mae: 120440.7734 - val_loss: 26471413760.0000 - val_mse: 26471413760.0000 - val_mae: 120026.1328
Epoch 3/5
212/212 [==============================] - ETA: 0s - loss: 27258079232.0000 - mse: 27258079232.0000 - mae: 120262.7422
Epoch 00003: saving model to ./save/model.ckpt
212/212 [==============================] - 18s 87ms/step - loss: 27258079232.0000 - mse: 27258079232.0000 - mae: 120262.7422 - val_loss: 26676914176.0000 - val_mse: 26676914176.0000 - val_mae: 118999.2656
Epoch 4/5
212/212 [==============================] - ETA: 0s - loss: 26961457152.0000 - mse: 26961457152.0000 - mae: 119575.2891
Epoch 00004: saving model to ./save/model.ckpt
212/212 [==============================] - 19s 90ms/step - loss: 26961457152.0000 - mse: 26961457152.0000 - mae: 119575.2891 - val_loss: 26918981632.0000 - val_mse: 26918981632.0000 - val_mae: 118254.8359
Epoch 5/5
212/212 [==============================] - ETA: 0s - loss: 26590535680.0000 - mse: 26590535680.0000 - mae: 118439.9922
Epoch 00005: saving model to ./save/model.ckpt
212/212 [==============================] - 16s 74ms/step - loss: 26590535680.0000 - mse: 26590535680.0000 - mae: 118439.9922 - val_loss: 26840526848.0000 - val_mse: 26840526848.0000 - val_mae: 117824.6562

In [ ]:
!tensorboard --logdir='./save'

In [18]:
model.predict(ds_test)

ValueError: When providing an infinite dataset, you must specify the number of steps to run.

In [ ]:
model.comp